.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  --bigger-flex-child: 1.5;
  --flex-gap: 1vw;
}

.layout {
  display: flex;
  gap: var(--flex-gap);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80vw;
  height: 64vw;
  padding: 2vw;
}

.topHalf {
  width: 100%;
  flex: 1;
  min-height: 38vw;
  display: flex;
  gap: var(--flex-gap);
  flex-direction: row;
}

.layout234 {
  flex: 1;
  display: flex;
  gap: var(--flex-gap);
  flex-direction: column;
}

.layout34 {
  flex: 1;
  display: flex;
  gap: var(--flex-gap);
  flex-direction: row;
}

.bottomHalf {
  width: 100%;
  flex: 1;
  display: flex;
  gap: var(--flex-gap);
  flex-direction: row;
}

.layout56 {
  flex: 1;
  display: flex;
  gap: var(--flex-gap);
  flex-direction: column;
}

.layout56 > :nth-child(2) {
  flex: var(--bigger-flex-child);
}

.layout89 {
  flex: 1;
  display: flex;
  gap: var(--flex-gap);
  flex-direction: column;
}

.layout89 > :first-child {
  flex: var(--bigger-flex-child);
}

@media (max-width: 600px) {
  .layout {
    height: 108vw;
  }

  .topHalf {
    min-height: unset;
    flex-direction: column;
  }

  .layout234 {
    flex: 2;
  }

  .layout234 > :first-child {
    order: 1;
  }

  .bottomHalf {
    flex-direction: row;
    flex-wrap: wrap;

    --row-height: calc((100% - 2 * var(--flex-gap)) / 3);
  }

  .bottomHalf > :nth-child(2) {
    flex-basis: 100%;
    order: -1;
    height: var(--row-height);
  }

  .layout56, .layout89 {
    height: calc(2 * var(--row-height));
  }

  .layout56 > :nth-child(2) {
    flex: 1;
  }

  .layout89 > :first-child {
    flex: 1;
  }
}
